@tailwind base;
@tailwind components;

* {
  scroll-behavior: smooth;
}

.cursor-almonds {
  cursor: url("../assets/images/almond2.png"), default;
}

.hide-after {
  animation: 100ms hide;
}

@font-face {
  font-family: "Lo-Reg";
  src: url("../assets/fonts/LilitaOne-Regular.ttf");
}

.font-LO {
  font-family: "Lo-Reg";
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transform-origin: top;
}

.shadow-custom {
  backdrop-filter: blur(50px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 2px;
}

.one:hover span:last-child {
  width: 100%;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1em;
  padding: 0 1em;
}

::-webkit-scrollbar-track {
  border-radius: 40px;
}

::-webkit-scrollbar-thumb {
  background-color: #161616;
  border-radius: 40px;
}

/* .card-shadow {
  box-shadow: 4px 4px 0 #161616;
  
} */

@tailwind utilities;
